@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 15;
    margin: 15px;
}
html {
    height: 100%
}

body {
    margin: 5px;
    font-family: Jost, sans-serif;
    height: 100%;
}

p, li {
    line-height: 1.5em;
}

h2 {
    color: #6800b8;
}
h1 {
    color: white;
}


#header {
    border-style: double;
    border-color: #CEC2FF;
    border-width: 15px;
    background-color:#6a5acd;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 50px;
    line-height: 1.5em;
}
#inspiration {
    border-style: solid;
    border-color: #6a5acd;
    background-color: #CEC2FF;
    color: #6a5acd;
}
#homework {
    border-style: solid;
    border-color: #6a5acd;
    background-color: #B3B3F1;
    color: #6a5acd;
}
#tutorials {
    border-style: solid;
    border-color: #6a5acd;
    background-color: #DCB6D5;
    color:#6a5acd;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.fa-laptop-file{
    font-family: "Font Awesome 6 Free";
    font-size: 20px;
    color: black;
}
section {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
}