@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Jost, sans-serif;
}

p, li {
    line-height: 1.5em;
}

h2 {
    color: #ffffff;
}
h1 {
    color: #16697A;
}


#header {
    background-color: #fff7d3;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    line-height: 0.5em;
}
#inspiration {
    background-color: #16697A;
    padding-top: 30px;
    padding-bottom: 30px;
}
#homework {
    background-color: #FF7F50;
    padding-top: 30px;
    padding-bottom: 30px;
}
#tutorials {
    background-color: #FFBA01;
    padding-top: 30px;
    padding-bottom: 30px;
}

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    padding: 20px;
    flex-grow: 1;
    flex-basis: 1;
}