body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
h1 {
    font-size: 30px;
}
/**********/
/* Layout */
/**********/
aside, footer, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
    flex-direction: row;
    display: flex;
    justify-content: left;
    column-gap: 3%;
    padding-left: 15px;
    margin-left: 10px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

h1 {
    font-size: 30px;
    margin-top: 10px;
}

#sidebar {
    /*padding: 30px;*/
    line-height: 3em;
    padding-left: 30px;
    padding-top: 5px;
}


/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
/*#upgrade {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    flex-direction: row;
}
#profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}*/

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#upgrade {
    margin: 20px;
    margin-right: 0px;
}

#profile {
    margin: 20px;
    margin-right: 25px;
}
.button1 {
    color: rgb(158, 158, 158);
    background-color: #111;
    border-color: rgb(158, 158, 158);
    border-width: 1px;
    padding: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
}

.button2 {
    color: rgb(158, 158, 158);
    background-color: #222;
    padding: 21px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 20px;
    border: none;
}
#home, #search, #library {
    color: rgb(182, 182, 182);
}

#artists {
    border-bottom: solid;
    border-width: 5px;
    border-color: green;
}

#library {
    border-left: solid;
    border-width: 5px;
    border-color: green;
    margin: -5px;
    padding-left: 10px;
}

.button1:hover {
    background-color:rgb(31, 31, 31); 
    color: white;
}

.button2:hover {
    background-color: rgb(45, 45, 45); 
    color: white;
}

#home:hover, #search:hover, #library:hover{
    color: white;
}

#playlists:hover, #albums:hover {
    border-bottom: solid;
    border-width: 5px;
    border-color: green;
}
/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */
section {
   padding: 20px;
   width: 20%;
}
section > div {
    border-radius: 15px;
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.artist-card {
    justify-content: center;
    height: 100%;
    width: 20%;
}
.artist-card img {
    width: 100%;
    border-radius: 50%;
}
#featured-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 74%;
}
.play-button {
    width: 40px;
    height: 40px;
    background: green;
    border-radius: 20px;
    border-color: transparent;
    top: 44px;
    bottom: 59px;
    float: right;
    visibility: hidden; 
}

.artist-card:hover .play-button {
    visibility: visible;
}

/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */
.container {
    display: grid;
}
@media (max-width: 650px) {
    body {
        overflow: hidden;
        margin: 0px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 100px;
        grid-template-areas:
           "main"
           "bottom";
        height: 100vh;
    }

    .artist-card {
        width: 50%;
    }

    aside {
        display: none;
    }

    header {
        width: 100%;
        left: 0px;
    }
}